<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.tech.biz.dao.QACommentDAO">
  	<!-- 1. select 댓글번호에 해당하는 댓글 보여주기 -->
  	<select id="select"  parameterType="int" resultType="QACommentDTO">
		SELECT qa_comment_no, qa_comment_content, qa_comment_writer, qa_comment_reg_date, qa_comment_up_date, qa_comment_pcno, user_no, qa_post_no
		FROM comment_qa
		WHERE qa_comment_no=#{qa_comment_no}
  	</select>
  	
  	<!-- 2. select 전체 댓글 개수 -->
  	<select id="count" parameterType="int" resultType="int">
		SELECT count(*)
		FROM comment_qa
		WHERE qa_post_no=#{qa_post_no}
  	</select>
  	
  	<!-- 3. insert 댓글 추가 (게시글 번호 제목 내용 작성자) -->
  	<insert id="insert" parameterType="QACommentDTO">
		INSERT INTO comment_qa(qa_comment_no, qa_comment_content, qa_comment_writer, qa_comment_pcno, user_no, qa_post_no)
		VALUES(seq_qa_comment_no.NEXTVAL, #{qa_comment_content}, #{qa_comment_writer}, #{qa_comment_pcno}, #{user_no}, #{qa_post_no})
  	</insert>
  	
  	<!-- 4. update 번호에 해당하는 댓글의 내용변경 -->
  	<update id="update" parameterType="QACommentDTO">
  		UPDATE comment_qa
  		SET qa_comment_content=#{qa_comment_content}, qa_comment_up_date=SYSDATE
  		WHERE qa_comment_no=#{qa_comment_no} AND qa_comment_writer = #{qa_comment_writer}
  	</update>
  	
  	<!-- 5. delete 댓글 번호와 작성자가 일치할 때 게시글 삭제 -->
  	<delete id="delete" parameterType="map">
  		DELETE
  		FROM comment_qa
  		WHERE qa_comment_no=#{qa_comment_no} AND qa_comment_writer = #{qa_comment_writer}
  	</delete>
  	
	<!-- 6. 댓글 목록, 등록일 기준으로 내림차순. 번호를 기준으로 내림차순 -->
	<select id="selectAll" parameterType="int" resultType="QACommentDTO">
		SELECT qa_comment_no, qa_post_no, NVL(qa_comment_pcno,qa_comment_no) qa_comment_pcno, qa_comment_content, qa_comment_writer, qa_comment_reg_date, qa_comment_up_date
		FROM comment_qa
		WHERE qa_post_no=#{qa_post_no}
		ORDER BY qa_comment_pcno ASC, qa_comment_no ASC, qa_post_no ASC
	</select>
	
  	<!-- 7. 관리자 댓글 삭제 -->
  	<delete id="deleteForAdmin" parameterType="int">
  		DELETE
  		FROM comment_qa
  		WHERE qa_comment_no=#{qa_comment_no}
  	</delete>
  	
  	<!-- 8. 댓글 전체 삭제 -->
	<delete id="deleteAll" parameterType="int">
		DELETE 
		FROM comment_qa
		WHERE qa_post_no= #{qa_post_no}
  	</delete>
  	
  </mapper>